.breadcrumb {
    display: -webkit-box;
    color: var(--icons);
    padding-top: 10px;
}

.breadcrumb :nth-child(n+3)::before {
    content: "/";
    margin: 0 2px;
}

.breadcrumb a {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.breadcrumb a:hover{
    padding: 6px;
    font-size: 15px;
    text-decoration: none;
    transition: .3s;
    background-color: var(--sidebar-bg);
    border-radius: 10px;
}

.breadcrumb a:not(:hover){
    padding: 5px;
    font-size: 14px;
    text-decoration: none;
    transition: .3s;
    border-radius: 12px;
}
